thead {
  color: black;
  background-color:burlywood;
  font-family: Arial;
}

tbody {
  color: black;
  background-color: beige;
  font-family: Arial;
}

tfoot {
  color: black;
  font-family: Arial;
  font-weight: bold;
}

table {
  border-collapse: collapse;
}

th, td {
  border: thin solid black;
  padding: 6px;
}

.invisible {
  border-style: none;
}

.footer {
  background-color: burlywood;
}





.examples {
      font-family: Arial;
      color: maroon;
      text-transform: uppercase;
      font-family: cursive;
      text-transform: capitalize;
      color: rebeccapurple !important;
}

